.--header {
    width: 100%;
    display: flex;
    padding: 0 1rem;
    align-items: center;
    height: var(--header-height);
    justify-content: space-between;
    background-color: var(--color-bg);
}

.--header .--col {
    display: flex;
    height: inherit;
    align-items: center;
}

.--header .--col-A {
    gap: 1rem;
}

.--header .--col .--img-logo {
    width: 45px;
    height: 45px;
}

.--header .--col-A span {
    color: var(--color-text);
}

.--header .--col-A h4 {
    color: var(--color-text);
}

.--header .--col-A .--link {
    color: var(--color-text);
}

.--header .--col-B {
    gap: 1rem;
}

.--header .--col-B .--btn {
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    gap: .8rem;
    color: var(--color-text);
    background-color: var(--color-bg-secondary);
}

.--header .--col-B .--btn .tabler-icon {
    width: 18px;
    height: 18px;
    fill: var(--color-text);
}

.--header .--col-B .--btn-execute .tabler-icon {
    fill: var(--color-success);
}